.hero {
  height: 100vh;
}
.main-background {
  height: 100vh;
  width: 100%;
  object-fit: cover;
  object-position: top;
  background-image: url("/images/hero-bg.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.overlay {
  position: relative;
}
.overlay::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
      background: linear-gradient(90deg, rgb(255 255 255 / 0.8) 0%, rgb(255 255 255 / 0.3) 100%);
}
.main-background-custom {
  height: 100vh;
  width: 100%;
  object-fit: cover;
  display: block;
}
.hero-slider {
  height: 100vh;
}
.hero-slider .carousel-indicators li {
  box-sizing: content-box;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #dce9f2;
  background-clip: padding-box;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  transition: opacity 0.6s ease;
}
.hero-slider .carousel-indicators .active {
  background-color: #48b349;
}
.hero-slider .carousel-inner .carousel-item .carousel-caption {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: left;
  top: 30%;
}
.hero-slider .carousel-inner .carousel-item .carousel-caption-custom {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: left;
  top: 30%;
}
.br-1-hero {
  display: none;
}
.br-3-hero {
  display: none;
}
.carousel-item {
  height: 100vh;
}
.cloud-1 {
  position: absolute;
  top: 20%;
  left: 17%;
  width: 88px;
}
.cloud-2 {
  position: absolute;
  top: 29%;
  left: 42%;
  width: 80px;
}
.cloud-3 {
  position: absolute;
  top: 46%;
  left: 59%;
  width: 54px;
}
.cloud-4 {
  position: absolute;
  top: 23%;
  left: 70%;
  width: 62px;
}
.cloud-5 {
  position: absolute;
  top: 23%;
  left: 80%;
}
.sun {
  position: absolute;
  top: 16%;
  left: 83%;
}
.person-1 {
  position: absolute;
  top: 26%;
  left: 47%;
  width: 155px;
  animation: float 5s ease-out infinite;
}
.person-2 {
  position: absolute;
  top: 32%;
  left: 62%;
  width: 140px;
  animation: float 5s ease-out infinite;
  animation-delay: -2s;
}
.person-3 {
  position: absolute;
  top: 36%;
  left: 76%;
  width: 240px;
  animation: float 5s ease-out infinite;
  animation-delay: -3s;
}
.caracter-1,
.caracter-2,
.caracter-3 {
  width: 100%;
}
@keyframes float {
  50% {
    transform: translate(0, 14px);
  }
}

.title-hero {
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 58px;
  color: #2d386e;
}
.title-hero.Custom{
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
}
.title-hero .span-first {
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 58px;
  color: #48b349;
}
.title-hero .span-last {
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 58px;
  color: #2d86be;
}
.desc-hero {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 38px;
  color: #909aad;
  margin-bottom: 40px;
}
.desc-hero.Custom{
    font-weight: 400;
    line-height: 38px;
    color: #000000;
    margin-bottom: 40px;
}
.btn-hero {
  border-color: #48b349;
  background: #48b349;
  box-shadow: 0px 4px 24px rgba(72, 179, 73, 0.35);
  border-radius: 80px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  padding: 12px 28px;
}
.btn-hero i {
  margin-left: 10px;
}

.animated.delay-1s {
  -webkit-animation-delay: 0.25s !important;
  animation-delay: 0.25s !important;
}
